html,
body {
  margin: 0;
  padding: 0;
  background: #f1d9a0;
  color: #22586b;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-panel {
  width: 350px;
  color: #22586b;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  min-height: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #e9c46a, #f4a261, #e76f51);
  box-shadow: 5px 5px 15px #889aa1;
}

.card {
  border: 1px solid #26657a;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #264653;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0;
}

.card.open {
  transform: rotateY(0);
  background: #264689;
  cursor: default;
}

.card.show {
  font-size: 33px;
}

.card.match {
  background: #2a9d8f;
  cursor: default;
  font-size: 33px;
}

.score-panel,
.stars,
.moves,
.restart,
.timer {
  display: inline-block;
}

.stars,
.moves,
.restart,
.timer {
  margin: 0 5px 0 5px;
}

.stars li {
  display: inline-block;
}

.star {
  visibility: hidden;
}

.show-star {
  visibility: visible;
}

.restart {
  float: right;
  cursor: pointer;
  margin-left: -15px;
}

.card i {
  color: white;
}

ul {
  list-style: none;
}

.pop-up {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  z-index: 1;
  opacity: 0.5;
}

.pop-up-text {
  position: absolute;
  width: 70%;
  height: 33%;
  background: #264653;
  color: white;
  z-index: 1;
  text-align: center;
  visibility: hidden;
  top: 175px;
  left: 15%;
  border-radius: 5px;
}

.reload,
.closeBtn {
  height: 50px;
  width: 150px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 12px;
  cursor: pointer;
}

.reload {
  background: #2A9D8F;
  color: white;
  border: none;
}

.closeBtn {
  background: white;
  color: #2A9D8F;
}

.ratings ul li{
  display: inline-block;
  margin-left: -48px;
}

@media screen and (max-width: 600px){
  .deck {
    width: 240px;
    min-height: 240px;
  }

  .card {
    height: 55px;
    width: 55px;
  }

  .pop-up-text {
    width: 70%;
    height: 53%;
  }

  .pop-up-text h1 {
    font-size: 1.2em;
  }
}